body {
    background-color: #bbb383;
    font-family: 'Handlee', 'cursive';
    top: 20px;
}

header {
    text-align: center;
}
.maincontainer {
   border: 2px dashed #9d5f29;
}

section {
    display: flex;
  
}

#textarea {
    flex-direction: column;
    order: 2;
}

#scrollarea {
    background-color: red;
}