body {
    background-color: #bbb383;
    font-family: 'Handlee', 'cursive';
}
.maincontainer {
    display: flex;
}

nav {
    background-color: brown;
}
section {
    display: flex;
  
}

#textarea {
    flex-direction: column;
}

#scrollarea {
    background-color: red;
}