body {
    background: url(image/pawel-czerwinski-F-BBfrbAkQQ-unsplash.jpg);
    font-family: 'Handlee', 'cursive';
    font-weight: 700;

}

header {
    text-align: center;
    color: #2c1b10;
}


section {
    border: 2px dashed #9d5f29;
    padding-bottom: 5px;
    
  
}

p {
    text-align: left;
    
}


button{
    background-color: tan;
    color: black;
    border: 5px dashed;
    margin: 50px
    
}


